# Rules in this file were initially inferred by Visual Studio IntelliCode from the Y:\che\palliate codebase based on best match to current usage at 16/01/2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf

[*.py]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = lf