name: SonarCloud

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:  
    - name: Set up compiler
      run: |
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt update
        sudo apt -y install gcc-13
        sudo apt -y install g++-13
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-13 100 
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-13 100
        sudo apt -y install gcovr
    
    - name: Install Conan
      id: conan
      uses: turtlebrowser/get-conan@main
    
    - uses: actions/checkout@v3
      with:
        repository: Tsche/repr.wiki
      
    - name: Set up Conan profile
      run: |
        conan profile detect
        cp conan.linux `conan profile path default`
    
    - uses: actions/checkout@v3

    - name: Install sonar-scanner and build-wrapper
      uses: SonarSource/sonarcloud-github-c-cpp@v2.0.2

    - name: Build
      run: build-wrapper-linux-x86-64 --out-dir out conan build . -s build_type=Debug --build=missing -o test=True -o coverage=True
    
    - name: Coverage
      run: |
        ./build/Debug/repr_test
        gcovr -v --sonarqube coverage.xml
        cat coverage.xml

    - name: Run sonar-scanner
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: sonar-scanner --define sonar.cfamily.build-wrapper-output="out" --define sonar.coverageReportPaths=coverage.xml
